#about main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about h2 {
    align-self: start;
    margin: 20px 0 0px 0;
}

#about main p {
    align-items: start;
    justify-items: start;
    text-align: justify;
    width: stretch;
}

#about .bold {
    font-weight: bold;
}

#thank_you {
    text-align: center !important;
    width: 60% !important;
    justify-self: center !important;
}
