#home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: transparent;
}

.text-block-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px;
  gap: 5x; /* Adjust gap for better spacing */
  background-color: transparent;
}

.choose-quiz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
  background-color: transparent;
}