#styles_question_list {
  list-style: none;
  gap: 50px;  
}

#learning_styles_quiz main {
  width: 50%;
}

#styles_question_list button {
  background-color: whitesmoke;
}

#styles_question_list button img {
  transition: 0.2s ease;
}
#styles_question_list button:hover img {
  filter: none;
}

#submit_quiz {
  margin-top: 10px;
  padding: 10px 20px;
}