#learning_styles_results main {
  width: 50%;
  margin-top: 20px;
}

#learning_styles_results h2 {
  margin: 0;
  align-self: flex-start;
}

/* Center the chart and set a max width */
.chart-container {
  display: flex;
  justify-content: center;
  width: 100%
}

.chart-container canvas {
  width: 100%; /* Ensure the chart takes up the full width of the container */
}