#pretend-lecture main {
  width: 50%;
}

.lecture-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Optional: spacing between text and button */
  width: fit-content;
  list-style: circle!important;
}

.lecture-item p {
  width: fit-content;
}

#pretend-lecture .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;     /* Adjust to match text height */
  width: 2.5rem;
  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.play-button svg {
  width: 20px;
  height: 20px;
}