#resource_hub main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
}

#resource_hub img {
    rotate: 90deg;
    height: 100px;
    filter:hue-rotate(180deg);
}

.topic-card {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    transition: all 0.3s ease;
    height: 100px;
}

.topic-content {
    color: white;
    background-color: rgb(20, 20, 20);
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    width: 100%;
}

.topic-card:hover {
    transform: scale(1.05);
}

.topic-content:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.arrow-right {
    width: 0; 
    height: 100%; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid black;
}