#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    min-width: 300px;
    align-content: end;
    margin: 15px;
    margin-top: 110px;
    padding: 20px 30px 20px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Kalam';
    font-size: 1.1em;
    border-radius: 70px;
    text-align: left;
}

#signin form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #00000081;
}

.input-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #00000081;
    height: 55px;
    align-items: center;
}

.input-line label {
    display: flex;
    padding: 0px 10px 0px 0px;
    align-content: end;
    align-items: center;
    justify-content: right;
    width: 45%;
    text-align: right;
}

.input-line input {
    padding: 10px;
    border: none;
    background: none;
    box-shadow: inset 0 0 3px 1px #0000003a;
    box-sizing: border-box;
    height: 80%;
    width: 55%;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    transition: 0.2s ease;
}

.input-line input:focus {
    box-shadow: inset 0 0 10px 1px #0000003a;
    outline: none;
}

#signin h2 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#signin button {
    font-size: 1.6em;
    font-family: 'Kalam';
    width: 50%;
    align-self: center;
    padding: 4px;
    margin-top: 10px;
    background-color: #2C2C2C;
    color: white;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}

#signin button:hover {
    background: #E3E3E3;
    border: 1px solid #767676;
    color: #2C2C2C;
    text-decoration: none;
}

.errmsg {
    background-color: #ffebee;
    color: firebrick;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

#need-account {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
}

#need-account a {
    color: #2C2C2C;
    text-decoration: none;
}

#need-account a:hover {
    text-decoration: underline;
}