#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    min-width: 300px;
    align-content: end;
    margin: 15px;
    margin-top: 65px;
    padding: 20px 30px 20px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Kalam';
    font-size: 1.1em;
    border-radius: 70px;
    text-align: left;
}

.hide {
    display: none;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #00000081;
}

label {
    display: flex;
    padding: 0px 10px 0px 0px;
    align-content: end;
    align-items: center;
    justify-content: right;
    /*min-width: fit-content;*/
    width: 45%;
    text-align: right;
}

input {
    padding: 10px;
    border: none;
    background: none;
    box-shadow: inset 0 0 3px 1px #0000003a;
    box-sizing: border-box;
    height: 80%;
    width: 55%;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    transition: 0.2s ease;
}

input:focus {
    box-shadow: inset 0 0 10px 1px #0000003a;
    outline: none;
}


#signup h2 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#signup button {
    font-size: 1.6em;
    font-family: 'Kalam';
    width: 50%;
    align-self: center;
    padding: 4px;
    margin-top: 10px;
}

#signup button:hover {
    background: #E3E3E3;
    border: 1px solid #767676;
    color: #2C2C2C;
    text-decoration: none;
}

.input-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #00000081;
    width: 100%;
    height: 60px;
    align-items: center;
}

.instructions {
    contain: content;
    font-size: 0.6em;
    width: 80%;
    align-self: center;
    font-family: 'Inter', sans-serif;

}

.invalid, .valid {
    padding: 0px 10px 0px 0px;
}

#have-account {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
}

#pwdnote, #uidnote, #confirmnote {
    padding-left: 10px;
}
