.quiz-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    gap: 40px;
}

.quiz-item button {
    /* Button */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 86px;
    height: 40px;

    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;

    color: white;
    cursor: pointer;
    text-decoration: none;
}

.quiz-item button:hover {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 86px;
    height: 40px;

    background: #E3E3E3;
    border: 1px solid #767676;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    color: #2C2C2C;
    text-decoration: none;

}

.quiz-item button:hover img {
    filter: invert(90%)
}

.quiz-item Link {
    text-decoration: none;
    color: white;
}

.quiz-item a {
    text-decoration: none;
}

