.feature-item-p {
  text-align: justify;
  padding-left: 40px; /* Match the bullet width + margin-right */
  font-size: 1em;
  hyphens: auto;
  word-break: break-word;
  color: #757575 !important;
}

.feature-item-h3 {
  margin: 0;
  padding: 5px;
  vertical-align: middle; /* Align the heading with the bullet */
  display: inline-block;
  margin-left: 30px; /* Add space to account for the bullet */
}

.thirty-percent {
  width: 30%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px 5px 20px 20px;
  height: auto; /* Adjust height to fit content */
  align-self: stretch;
  list-style: none; /* Remove default bullet points */
  position: relative; /* Required for positioning the ::before element */
  /* background-color: white; */
  border-radius: 55px; /* Add rounded corners */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Add a subtle shadow */
}

.thirty-percent::before {
  content: url('../images/Info.svg'); /* Path to the SVG */
  display: inline-block;
  width: 16px; /* Set the desired width */
  height: 16px; /* Set the desired height */
  margin-right: 10px; /* Add spacing between the bullet and the title */
  position: absolute;
  left: 0; /* Align the bullet to the left */
  top: 0; /* Align the bullet with the top of the title */
  transform: translateY(4px); /* Fine-tune vertical alignment */
  padding: 15px 0px 0px 15px; /* Add padding to the top for the bullet */
}

/*.thirty-percent::marker {
  content: url('../images/Info.svg'); 
  transform: scale(0.4); 
  display: inline-block;
  vertical-align: middle; 
}
*/

.forty-percent {
  width: 35%;
  padding: 5px;
  margin: 10px;
  height: auto; /* Adjust height to fit content */
  align-self: flex-start;
  list-style: none; /* Remove default bullet points */
  position: relative; /* Required for positioning the ::before element */
}

.forty-percent::before {
  content: url('../images/Info.svg'); /* Path to the SVG */
  display: inline-block;
  width: 16px; /* Set the desired width */
  height: 16px; /* Set the desired height */
  margin-right: 10px; /* Add spacing between the bullet and the title */
  position: absolute;
  left: 0; /* Align the bullet to the left */
  top: 0; /* Align the bullet with the top of the title */
  transform: translateY(4px); /* Fine-tune vertical alignment */
}
