.feature-item {
  max-width: 30%; 
  list-style-type: square; /* Change bullet point style */
  padding: 5px;
  margin: 10px;
}

/* Additional styles for the list item */
.feature-item h3 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.feature-item p {
  text-align: justify;
  padding-right: 20%;
}