.quiz-question ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-left: 15px;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quiz-question button {
  width: 25px!important; /* Adjust button size as needed */
  height: 25px!important; /* Adjust button size as needed */
  border-radius: 50%!important; /* Make the button circular */
  display: flex; /* Enable Flexbox */
  position: relative; /* Ensure proper positioning for the image */
  justify-content: center;
  margin: 0;
}

.quiz-question img {
  width: 150%; /* Adjust image size relative to the button */
  height: 150%; /* Adjust image size relative to the button */
  object-fit: contain; /* Ensure the image scales properly */
  align-self: center;
  justify-self: center;
}

.quiz-question li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.quiz-question h4 {
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}