#features {
  justify-content: space-around;
  width: 80%;
}

#features_list {
  display: flex;
  align-items: flex-start;
  justify-content: top;
  gap: 5px;
}

#features_title {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #282c34;
  font-size: 1em;
  margin: 20px;
}

#features_title h2 {
  margin-bottom: 5px; /* Adjust as needed */
}

#features_title p {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 10px; /* Adjust as needed */
  color: #757575;
}
