/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure the body takes the full height of the viewport */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* ## Styling the App itself */

#App {
  background: radial-gradient(50% 50% at 50% 50%, rgba(225, 241, 244, 0.996) 0%, rgba(209, 232, 235, 0.99602) 48.5%, rgba(156, 210, 216, 0.993) 100%);
  background-blend-mode: color-burn;
  background-attachment: fixed; /* Make the background fixed */
  background-size: cover; /* Ensure the background covers the entire viewport */
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: auto; /* Ensure scrollbar is always visible */
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  width: 100%;
  padding-top: 60px;
}


/* ### Navigation bar settings */

nav {
  position: fixed; /* Fix the nav bar at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(156, 210, 216, 0.993), rgba(225, 241, 244, 0.996), rgba(156, 210, 216, 0.993)); /* Gradient with white center */
  padding: 25px 0;
  display: flex;
  justify-content: right;
  align-items: center;
   margin: 0; /* Ensure no margin is applied */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #1e1e1e;
  text-decoration: none;
}


/* Custom scrollbar styles */

::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: rgba(156, 210, 216, 0.993); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(225, 241, 244, 0.996); /* Color of the scrollbar thumb */
  border-radius: 9px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

footer {
  display: flex;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer_links_list {
  list-style: none;
  padding: 0;
  justify-items: left;
}

#footer_links h4 {
  text-align: left;
}




.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 130px;
  padding-bottom: 50px;
  padding-left: 27%;
  padding-right: 27%;
}

.hero h1 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  margin-bottom: 0; /* Adjust as needed */
  font-size: 3em;
}

.hero h2 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  font-size: 2em;
}

.hero p {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  font-size: 0.8em;
  text-align: center;
  margin-top: 15px;
}



.choose_quiz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.Horizontal-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}