/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure the body takes the full height of the viewport */
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-size: 1em;
}

/* ## Styling the App itself */

#App {
  background: radial-gradient(50% 50% at 50% 50%, aliceblue 40%, rgba(197,223,226,255) 100%);
  background-attachment: fixed; /* Make the background fixed */
  background-size: cover; /* Ensure the background covers the entire viewport */
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: auto; /* Ensure scrollbar is always visible */
}

.resource-hub-active {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 153, 132, 0.996078) 0%, rgba(255, 106, 76, 0.996078) 48.5%, rgba(255, 80, 45, 0.996078) 100%);
  background-blend-mode: color-burn;
}


header {
  background-color: gray;
  background-image: url("/public/images/notebook-lines.jpg");
  background-size: cover;
  background-blend-mode: normal;
  filter: grayscale(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Adds a blurred shadow around the border */
}


/* ### Navigation bar settings */
nav {
  position: fixed; /* Fix the nav bar at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(197,223,226,255), aliceblue, rgba(197,223,226,255)); /* Gradient with white center */
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; /* Ensure no margin is applied */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the nav bar */
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 30%;
  gap: 15px;
}

#placeholder_1 {
  min-width: 5px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

#placeholder_2 {
  min-width: 0px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

#main_pages {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: fit-content;
}

nav ul:last-child {
  min-width: fit-content;
  width: 30%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  justify-content: center;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  transition: 0.3s ease, box-shadow 0.3s ease;
  min-width: min-content;
  padding: 5px 10px;
}

nav ul li a {
  color: #1e1e1e;
  text-decoration: none;
  text-align: center;
}

nav ul li:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
} 

@media (max-width: 740px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100vh;
    background: linear-gradient(to right, rgba(197,223,226,255), aliceblue, rgba(197,223,226,255)); /* Gradient with white center */
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0; /* Ensure no margin is applied */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the nav bar */
    z-index: 1000;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    gap: 15px;
  }
  
  #main_pages {
    display: flex;
    justify-content: none;
    flex: 1;
    list-style: none;
    min-width: fit-content;
  }

  nav ul:last-child {
    min-width: fit-content;
    width: 30%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    list-style: none;
  }

  .placeholder {
    display: none;
  }
  
  nav ul li {
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 0.3s ease, box-shadow 0.3s ease;
    min-width: min-content;
    padding: 10px 10px;
  }
  
}

.active-link {
  background-color: aliceblue;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(80, 107, 110); /* Adds a blurred shadow around the border */
}

.active-link:hover {
  transform: scale(1);
}


/* Custom scrollbar styles */

::-webkit-scrollbar {
  position: absolute;
  width: 9px; /* Width of the scrollbar */
  z-index: 9999; /* Ensure it appears above all other content */
}

::-webkit-scrollbar-track {
  background: rgba(225, 241, 244, 0.996); /* Background of the scrollbar track */
  margin-top: 60px;
}

::-webkit-scrollbar-corner {
  background: none; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 210, 216, 0.993); /* Color of the scrollbar thumb */
  border-radius: 9px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(110, 157, 162, 0.993); /* Color of the scrollbar thumb on hover */
}

footer {
  display: flex;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer_links_list {
  list-style: none;
  padding: 0;
  justify-items: left;
}

#footer_links h4 {
  text-align: left;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 140px;
  padding-bottom: 30px;
}

.hero h1 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  margin-bottom: 0; /* Adjust as needed */
  font-size: 3.8em;
  font-family: 'Kalam';
  text-align: center;
}

@font-face {
  font-family: 'Kalam';
  src: url('./fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NothingYouCouldDo';
  src: url('./fonts/NothingYouCouldDo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.hero h2 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  font-size: 2em;
}

.hero p {
  margin: 0; /* Remove top and bottom margin */
  padding: 2%; /* Remove padding */
  font-size: 0.8em;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  width: 50%;
}


.choose_quiz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.Horizontal-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

Link {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Ensure text is centered */
  gap: 20px;
  background: #282c34;
  border: 1px solid #282c34;
  border-radius: 50px;
  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  color: #E3E3E3;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 10px 20px; /* Add padding for better spacing */
}

button:hover {  
    background: #E3E3E3;
    border: 1px solid #767676;
    color: #282c34;
}

button img {
  transition: 0.2s ease;
}

button:hover img {
  filter: invert(90%)
}

button a {
  color: #E3E3E3;
  text-decoration: none;
  font-size: 1.1em;
}

button:hover a {
  color: #2C2C2C;
  text-decoration: none;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: radial-gradient(50% 50% at 50% 50%, aliceblue 40%, rgba(197, 223, 226, 225) 100%); /* Semi-transparent white background */
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it appears above all other content */
}

h1 {
  color: #282c34
}

h2 {
  color: #282c34
}

h3 {
  color: #282c34
}
h4 {
  color: #282c34
}
p {
  color: #282c34
}