/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensure the body takes the full height of the viewport */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* ## Styling the App itself */

#App {
  background: radial-gradient(50% 50% at 50% 50%, rgba(247, 254, 255) 0%, rgba(197,223,226,255) 100%);
  background-attachment: fixed; /* Make the background fixed */
  background-size: cover; /* Ensure the background covers the entire viewport */
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: auto; /* Ensure scrollbar is always visible */
}

.resource-hub-active {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 153, 132, 0.996078) 0%, rgba(255, 106, 76, 0.996078) 48.5%, rgba(255, 80, 45, 0.996078) 100%);
  background-blend-mode: color-burn;
}


header {
  background-color: gray;
  background-image: url("/public/images/notebook-lines.jpg");
  background-size: cover;
  background-blend-mode: normal;
  filter: grayscale(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  width: 100%;
  padding-top: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Adds a blurred shadow around the border */
}


/* ### Navigation bar settings */

nav {
  position: fixed; /* Fix the nav bar at the top */
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(197,223,226,255), rgba(247, 254, 255), rgba(197,223,226,255)); /* Gradient with white center */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; /* Ensure no margin is applied */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow to the nav bar */
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 30%;
}

#placeholder {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

nav ul:last-child {
  width: 30%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  list-style: none;
}

#main_pages {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
  justify-content: center;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  transition: 0.3s ease;
  padding: 5px 10px;
}

nav ul li a {
  color: #1e1e1e;
  text-decoration: none;
  text-align: center;
}

.active-link {
  background-color: rgba(247, 254, 255);
  box-shadow: 0 0 20px rgba(247, 254, 255); /* Adds a blurred shadow around the border */
}


/* Custom scrollbar styles */

::-webkit-scrollbar {
  position: absolute;
  width: 9px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(156, 210, 216, 0.993); /* Background of the scrollbar track */
  margin-top: 70px;
}

::-webkit-scrollbar-corner {
  background: none; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgba(225, 241, 244, 0.996); /* Color of the scrollbar thumb */
  border-radius: 9px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(110, 157, 162, 0.993); /* Color of the scrollbar thumb on hover */
}

footer {
  display: flex;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer_links_list {
  list-style: none;
  padding: 0;
  justify-items: left;
}

#footer_links h4 {
  text-align: left;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 110px;
  padding-bottom: 50px;
  padding-left: 27%;
  padding-right: 27%;
}

.hero h1 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  margin-bottom: 0; /* Adjust as needed */
  font-size: 3.8em;
  font-family: 'Kalam';
}

@font-face {
  font-family: 'Kalam';
  src: url('./fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NothingYouCouldDo';
  src: url('./fonts/NothingYouCouldDo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.hero h2 {
  margin: 0; /* Remove top and bottom margin */
  padding: 0; /* Remove padding */
  font-size: 2em;
}

.hero p {
  margin: 0; /* Remove top and bottom margin */
  padding: 2%; /* Remove padding */
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
  background-image: url('/public/images/paper-texture.png');
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-size: cover;
}


.choose_quiz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
}

.Horizontal-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 35px;
}

Link {
  font-style: normal;
}

a {
  text-decoration: none;
}